.ui-bar-a, .ui-btn {
	border: 1px solid #9B59B6 !important;
	background: #9B59B6 !important;
}

.ui-btn-up-b {
	background: #58B66D;
	border: 1px solid #58B66D;
}

.ui-btn-down-b {
	background: #58B66D;
	border: 1px solid #58B66D;
}

.ui-li-divider {
	border: 1px solid #58B69B !important;
	background: #58B69B !important;
}

.ui-footer {
	border: 1px solid #CEADDB !important;
	background: #CEADDB !important;
	margin-top:20px;
}

.ui-btn-up-d {
	border: 1px solid #BADBAD !important;
	background: #BADBAD !important;
}

.ui-btn-up-d > .ui-btn-inner > .ui-btn-text > a {
	color: #58B69B;
}

textarea {
	height: 200px !important;
}

#preview {
	width: 258px;
	overflow: hidden;
	overflow-x:scroll;
}

.ui-icon-arrow-r {
	background-color: #BADBAD !important;
}